@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}
html body{
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  background-color: black;
  display: flex;
  justify-content: center;
}
/* use el full-screen-element para que todos mis elemntos abarcaran toda la página, porque se desalinearon cuando le puse movimiento a la imagen del herder */
.full-screen-element { 
  height: 100%;
  width: 100%;
}
  S
 .container{
  width: 880px
  max-width: 880px;
  color: black;
}

h1{
  font-family: "Cinzel", serif;
  font-optical-sizing:auto;
  font-weight: 400px;
  font-style: normal;
  margin-left: 250px;
}

header{ 
    padding: 0px;
    width:100%; 
    /* (height en px modifica el tamaño de mi contenedor de header) */
    height: 200px;
    display:flex;
    background-color: black;
}
.encabezado{
  padding: 65px;
  margin: 0px;
  display: flex;
  flex-direction:column-reverse;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: center;
}
.logo img{
 width: 250px;
}
header{
  overflow: hidden; 
  /* Para evitar scrollbars mientras la imagen está fuera de la vista */
}


.logo{
  /* aquí le pongo movimiento a la img */
  animation-name: entrada;

  animation-duration: 3s;
  position: relative;
}
@keyframes entrada{
  from {
    right: -30px;
  }
  to {
    right: 2%;
  }
}

nav{
   margin: 20px; 
   padding-left: 50px;
   }
.sticky-top {
  margin-top: -20px;
  padding-top: 20px;
}
.row{
  width: 100%;
  box-sizing: border-box;
}
nav a{
  color: aliceblue;
  font-family: "Cinzel", serif;
  box-sizing: border-box;
} 
.row{
  display: flex;
  justify-content: space-between;

}
.col-4{
  background-image: url(Imagenes/Fondos/Fondo\ Jack.jpg); width: 80%; 
  background-position: center;

}
.col-4{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.col-8 p{
  padding-right:80px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:200px;
  font-style: normal;
}
.col-8{
  width: 100%;
  color: aliceblue;
  background-color:black;
  display: flex;
  text-align:justify;
  justify-content:flex-end;
}

.nav-pills .nav-link {
  color: black; /*Color del texto */
  background-color: #c2c7cb; /* Color de fondo */
  }
  .nav-pills .nav-link:hover {
    color: white; /* Color del texto al pasar el ratón */
    background-color: #b6843e; /* Color de fondo al pasar el ratón */
}

.scrollspy-example-2{
  width: 100%;
  padding: 0px;
}

.footer-content{
  margin: 1em;
  display: flex;
  flex-direction: row;
  align-content: flex-start;

}
.footer-content a{
  text-decoration: none;
  display: flex;
  font-size: 20px;
}
.footer-content ul li a{
  font-size: 33px;
 
}
.footer-content ul li{
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content:space-between;

}
.footer-content a:hover {
  transform: scale(1.2);

}
.facebook{
  color: blue;
}
.ig{
  color: blueviolet;
}
.fanpage{
  color: white;
}
.creativecommons{
  display:flex;
  justify-content: end;

}
.biografia img{
  float:left;
}
img{
  width: 300px;
}
.redes{
  margin-right: 50px;
}