@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  height: 100%;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  background-color: rgb(236, 235, 235);
}
img{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.container{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

h1{
  font-family: "Cinzel", serif;
  font-optical-sizing:auto;
  font-weight: 400px;
  font-style: normal;
}

header{ 
    padding: 15px;
    width:100%; 
    /* (height en px modifica el tamaño de mi contenedor de header) */
    height: 250px;
    display:flex;
    background-color: black;
}
.encabezado{
  padding: 65px;
  margin: 0px;
  display: flex;
  flex-direction:column-reverse;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: center;
}
.logo img{
 width: 350px;
}
header{
  overflow: hidden; 
  /* Para evitar scrollbars mientras la imagen está fuera de la vista */
}

.logo{
  /* aquí le pongo movimiento a la img */
  animation-name: entrada;

  animation-duration: 3s;
  position: relative;
}
@keyframes entrada{
  from {
    right: -30%;
  }
  to {
    right: 2%;
  }
}

nav{
   margin: 20px; 
   }
.row{
  box-sizing: border-box;
}
nav a{
  color: aliceblue;
  font-family: "Cinzel", serif;
  box-sizing: border-box;
} 
.row{
  display: flex;
  justify-content: space-between;

}
.col-4{
  background-image: url(Imagenes/Fondos/Fondo\ Jack.jpg);
}
.col-4{
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.col-8{
  color: aliceblue;
  background-color: rgb(12, 10, 10);
  display: flex;
  text-align:justify;
  justify-content:flex-end;
}
  
.nav-pills .nav-link {
  color: rgb(5, 5, 5); /*Color del texto */
  background-color: #c2c7cb; /* Color de fondo */
  }
  .nav-pills .nav-link:hover {
    color: white; /* Color del texto al pasar el ratón */
    background-color: #b6843e; /* Color de fondo al pasar el ratón */
}

.scrollspy-example-2{
  width: 100%;
  padding: 0px;
}

 
   


  




.footer-content{
  margin: 1em;
  display: flex;
  flex-direction: row;
  align-content: flex-start;

}
.footer-content a{
  text-decoration: none;
  display: flex;
  font-size: 20px;
}
.footer-content ul li a{
  font-size: 33px;
 
}
.footer-content ul li{
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content:space-between;

}
.footer-content a:hover {
  transform: scale(1.2);

}
.facebook{
  color: blue;
}
.ig{
  color: blueviolet;
}
.fanpage{
  color: white;
}
.creativecommons{
  display:flex;
  justify-content: end;

}